
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:post-list' %}">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout
              <span class="sr-only">(current)</span>
            </a>
            {%else %}

             <a class="nav-link" href="{% url 'login' %}">Login
              <span class="sr-only">(current)</span>
            </a>

            {% endif %}
          </li>
         {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:post-create' %}">Create</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <div class="container">

    <div class="row">

      <!-- Post Content Column -->
     




{% block content%}  {% endblock%}



  
 
       


  
       
   



  






   {% block sidebar %} 

   {% endblock %}



    



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% block footer %}
  <!-- Footer -->
 
    <!-- /.container -->
  </footer>

 {% endblock%} 

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
